.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
}

.movies-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.list-of-movies {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px

}

.movie-card {
    text-align: center;
}

.movie-card h3, .movie-card p {
    margin: 0;
}