/* Aqui van a ir todos los estilos de solamente la Twitter card */

/* Para evitar seleccionar un elemento HTML completo, hay que seleccionar los elementos por clases y hay que crearle a cada elemento su propia clase */

.tw-followCard {
    display: flex; 
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-username {
  opacity: .6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-followButton {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer; 
}

.tw-followCard-followButton:hover {
  background-color:rgb(198, 191, 191);
  transition: 0.5s, ease backgound-color;
}

.tw-followCard-stopFollowingButton {
  display: block;
}


.tw-followCard-followButton.is-following {
  border: 1px solid gray;
  color: #fff;
  background-color: transparent;
  width: 100px;
}

.tw-followCard-followButton.is-following:hover {
  background-color:rgba(255, 38, 9, 0.107);
  border: 1px solid rgb(187, 22, 22);
  transition: 0.5s, ease backgound-color;
  color: rgb(187, 22, 22);
}

.tw-followCard-followButton.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-followButton.is-following:hover .tw-followCard-stopFollowingButton {
  display: block;
}

.tw-followCards {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.tw-followCard-stopFollowingButton {
  display: none;
}