body {
    background-color: #000000;
    color:rgb(252, 252, 252);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    max-width: 800px;

}

section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem; 
    border: 3px solid rgb(252, 252, 252);;
    border-radius: 5px;
    padding: 2rem;
}


section p {
    flex: 1;
}


img {
    flex: 1;
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
    text-align: center;
}