.footer-cart {
  position: fixed;
  right: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, .7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
  backdrop-filter: blur(8px);
  width: fit-content;

  display: flex;
  justify-content: flex-end;
}

.footer-cart button {
    border-radius: 20%;
}

